form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 1rem;
}

.error {
  color: red;
}

.submit-button {
  background-color: #393333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #444;
}

.text-input:focus:invalid {
  border: 2px solid #ff4d4d;
  outline: none;
}